@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  font-family: 'Open Sans', sans-serif;
}
.axg-app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.axg-app .axg-view {
  background: #05cc98;
  padding: 0px 20px;
  min-width: 1200px;
  min-height: 800px;
}
.axg-app .axg-view#slide-cover {
  background-image: url("../img/introduction.png");
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #fff;
}
.axg-app .axg-view#slide-cover .axg-group {
  display: flex;
}
.axg-app .axg-view#slide-cover .axg-group .logo {
  background-image: url("../img/logo.png");
  background-size: 200px;
  background-position: center left;
  font-size: 0;
  width: 250px;
  height: 150px;
  border-right: 5px solid #fff;
  padding-right: 50px;
  margin-right: 50px;
}
.axg-app .axg-view#slide-cover .axg-group h1 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5px;
  letter-spacing: 1px;
  font-size: 48px;
  text-shadow: 2px 2px 1px rgba(0,0,0,0);
  text-transform: uppercase;
}
.axg-app .axg-view#slide-cover .axg-group h2 {
  margin-top: 0;
  font-size: 40px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 1px rgba(0,0,0,0);
}
.axg-app .axg-view#slide-cover .axg-group p {
  margin-top: 0;
  font-size: 20px;
  text-transform: uppercase;
}
