@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  padding-bottom: 10px;
}
.axg-app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.axg-app .axg-view {
  background: #05cc98;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.axg-app .axg-view h1 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5px;
  letter-spacing: 1px;
  font-size: 48px;
  text-transform: uppercase;
  color: #fff;
}
.axg-app .axg-view#footer {
  position: fixed;
  height: 0px;
  bottom: 0;
  left: 0;
  right: 0;
}
.axg-app .axg-view#footer .effect-container {
  left: 0;
  position: absolute;
  width: 100%;
}
.axg-app .axg-view#slide-cover {
  background-image: url("../img/introduction.png");
  background-size: cover;
  color: #fff;
}
.axg-app .axg-view#slide-cover .axg-group {
  display: flex;
}
.axg-app .axg-view#slide-cover .axg-group .logo {
  background-image: url("../img/logo.png");
  background-size: 200px;
  background-position: center left;
  font-size: 0;
  width: 250px;
  height: 150px;
  border-right: 5px solid #fff;
  padding-right: 50px;
  margin-right: 50px;
}
.axg-app .axg-view#slide-cover .axg-group h2 {
  margin-top: 0;
  font-size: 40px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}
.axg-app .axg-view#slide-cover .axg-group p {
  margin-top: 0;
  font-size: 20px;
  text-transform: uppercase;
}
.axg-app .axg-view#slide-speakers {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.axg-app .axg-view#slide-speakers .axg-group {
  max-width: 1200px;
}
.axg-app .axg-view#slide-speakers .axg-group h1 {
  color: #05cc98;
}
.axg-app .axg-view#slide-speakers .axg-group .speakers-list label {
  display: none;
}
.axg-app .axg-view#slide-speakers .axg-group .speakers-list ul {
  display: flex;
  padding: 0;
  margin: 0;
}
.axg-app .axg-view#slide-speakers .axg-group .speakers-list ul li {
  width: 40%;
  list-style: none;
  display: block;
  color: #05cc98;
  font-size: 22pt;
  font-family: 'Montserrat', sans-serif;
}
.axg-app .axg-view#slide-speakers .axg-group .speakers-list ul li:before {
  content: ' ';
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: block;
  border: 3px solid #05cc98;
  background-image: url("../img/sieg.jpg");
  margin: 30px 0px;
}
.axg-app .axg-view#slide-speakers .axg-group .speakers-list ul li:after {
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  font-size: 18pt;
  display: block;
  color: #706f67;
  content: 'Skilled in informatics, development and all things technology related, Siegfried is an online guru. He has delivered projects and consulted across a wide array of industries including Banking, Telecommunications, startups and many more. He believes in delivering scalable, sustainable and practical solutions using modern technology and practices.';
}
.axg-app .axg-view#slide-speakers .axg-group .speakers-list ul li:first-child {
  margin-right: 10%;
}
.axg-app .axg-view#slide-speakers .axg-group .speakers-list ul li:first-child:before {
  background-image: url("../img/roger.jpg");
}
.axg-app .axg-view#slide-speakers .axg-group .speakers-list ul li:first-child:after {
  content: 'Roger believes the best work-life balance is to unify everything, then the mind is able to flow and figure out the best solution for a problem. By deep-diving into basic theories of a domain and paying attention to subtleties, Roger enjoys being able to create simple and effective technical solutions.';
}
.axg-app .axg-view#slide-intro.right-image >div {
  background-image: url("../img/intro_slide.jpg");
}
.axg-app .axg-view#slide-intro.right-image >div:first-child {
  background: #fff;
}
.axg-app .axg-view#slide-abstraction-one.right-image >div {
  background-image: url("../img/spot-runs.jpg");
  background-position: center;
}
.axg-app .axg-view#slide-abstraction-one.right-image >div:first-child {
  background: #fff;
}
.axg-app .axg-view#care-about-learning {
  background-image: url("../img/we_cares.png");
  background-repeat: no-repeat;
  background-size: 650px;
  background-position: bottom right;
}
.axg-app .axg-view#slide-one-column {
  background-image: url("../img/we_cares.png");
  background-repeat: no-repeat;
  background-size: 650px;
  background-position: bottom right;
  padding-top: 120px;
}
.axg-app .axg-view#what-does-software-do.right-image >div {
  background-image: url("../img/data.jpeg");
  background-position: left;
}
.axg-app .axg-view#what-does-software-do.right-image >div:first-child {
  background: #fff;
}
.axg-app .axg-view#values-of-business-software.right-image >div {
  background-image: url("../img/value.jpg");
  background-position: center;
}
.axg-app .axg-view#values-of-business-software.right-image >div:first-child {
  background: #fff;
}
.axg-app .axg-view#questions-to-ask-ourselves.right-image >div {
  background-image: url("../img/questions.jpg");
  background-position: center;
}
.axg-app .axg-view#questions-to-ask-ourselves.right-image >div:first-child {
  background: #fff;
}
.axg-app .axg-view#application-ui.right-image >div {
  background-image: url("../img/dashboard.png");
  background-position: left -40px;
}
.axg-app .axg-view#application-ui.right-image >div:first-child {
  background: #fff;
}
.axg-app .axg-view#building-abstractions.right-image >div {
  background-image: url("../img/js.png");
  background-position: center;
}
.axg-app .axg-view#building-abstractions.right-image >div:first-child {
  background: #fff;
}
.axg-app .axg-view#component-based-ui-one .column {
  background-image: url("../img/componentss.png");
  background-size: 70%;
  background-position: center 115px;
  font-size: 0;
  height: calc(100vh - 125px);
}
.axg-app .axg-view#component-based-ui.right-image >div {
  background-image: url("../img/constructions.jpeg");
  background-position: center;
}
.axg-app .axg-view#component-based-ui.right-image >div:first-child {
  background: #fff;
}
.axg-app .axg-view#powerful-abstraction.right-image >div {
  background-image: url("../img/power.jpg");
  background-position: left;
}
.axg-app .axg-view#powerful-abstraction.right-image >div:first-child {
  background: #fff;
}
.axg-app .axg-view#proposed-application.right-image >div {
  background-image: url("../img/codeless.jpeg");
  background-position: center;
}
.axg-app .axg-view#proposed-application.right-image >div:first-child {
  background: #fff;
}
.axg-app .axg-view#cheap-talk {
  background-image: url("../img/fullode.png");
}
.axg-app .axg-view#cheap-code {
  background-image: url("../img/fullode.png");
}
.axg-app .axg-view#current-implementation.right-image >div {
  background-image: url("../img/current-stack.jpg");
  background-position: center;
}
.axg-app .axg-view#current-implementation.right-image >div:first-child {
  background: #fff;
}
.axg-app .axg-view#advantages.right-image >div {
  background-image: url("../img/yey.jpeg");
  background-position: 22% 10%;
}
.axg-app .axg-view#advantages.right-image >div:first-child {
  background: #fff;
}
.axg-app .axg-view#tech-benefits.right-image >div {
  background-image: url("../img/happy.jpg");
  background-position: center;
}
.axg-app .axg-view#tech-benefits.right-image >div:first-child {
  background: #fff;
}
.axg-app .axg-view#lessons-learned.right-image >div {
  background-image: url("../img/lessons.jpg");
  background-position: center;
}
.axg-app .axg-view#lessons-learned.right-image >div:first-child {
  background: #fff;
}
.axg-app .axg-view#nested-structure .column {
  background-image: url("../img/nested-structure.png");
  background-size: 80%;
  background-position: center 75px;
  font-size: 0;
  height: calc(100vh - 125px);
}
.axg-app .axg-view#flattened-structure .column {
  background-image: url("../img/flatten_structure.png");
  background-size: 50%;
  background-position: center 65px;
  font-size: 0;
  height: calc(100vh - 125px);
}
.axg-app .axg-view.two-column {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: #fff;
}
.axg-app .axg-view.two-column h1 {
  color: #05cc98;
}
.axg-app .axg-view.two-column ul li {
  font-size: 19pt;
  line-height: 40pt;
}
.axg-app .axg-view.two-column.right-image >div {
  height: 100vh;
  width: 50vw;
  background-image: url("../img/current_project.jpg");
  background-size: cover;
  background-position: right;
  font-size: 0;
}
.axg-app .axg-view.two-column.right-image >div:first-child {
  height: auto;
  background: #fff;
  width: 50vw;
  padding: 40px;
  font-size: inherit;
}
.axg-app .axg-view.two-column.left-image >div {
  height: auto;
  background: #fff;
  width: 50vw;
  padding: 40px;
  font-size: inherit;
}
.axg-app .axg-view.two-column.left-image >div:first-child {
  height: 100vh;
  width: 50vw;
  background-image: url("../img/tech_framework.jpeg");
  background-size: cover;
  font-size: 0;
}
.axg-app .axg-view.just-info {
  padding-top: 90px;
  align-items: flex-start;
}
.axg-app .axg-view .header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 50px 30px 50px;
  background-color: #05cc98;
}
.axg-app .axg-view .header h1 {
  color: #fff;
}
.axg-app .axg-view .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px 50px 50px;
  background-color: #05cc98;
  text-align: center;
}
.axg-app .axg-view .footer h1 {
  color: #fff;
  font-size: 24pt;
}
.axg-app .axg-view .column {
  padding: 50px;
}
.axg-app .axg-view .left-column {
  width: 50%;
  height: 100vh;
  border-right: 5px solid #05cc98;
}
.axg-app .axg-view .right-column {
  width: 50%;
}
.axg-app .axg-view.quote-content {
  color: #fff;
  padding: 150px;
  font-size: 24pt;
  line-height: 38pt;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}
.axg-app .axg-view.quote-content p {
  position: relative;
}
.axg-app .axg-view.gif-content {
  background-image: url("../img/backflip.gif");
  background-size: cover;
  background-position: center center;
}
.axg-app .axg-view.gif-content h1 {
  text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}
.axg-app .axg-view.full-column {
  background: #fff;
}
.axg-app .axg-view.full-column .column {
  width: 100vw;
}
.axg-app .axg-view.full-column .column h1 {
  color: #05cc98;
}
.axg-app .axg-view.full-column .column ul li {
  font-size: 19pt;
  line-height: 40pt;
}
.slider {
  position: absolute;
  left: 0;
  top: -100px;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: flex-end;
}
.slider .progress-bar {
  background: #ef8035;
  height: 10px;
  width: 100%;
  display: block;
  position: relative;
  transition: all 0.5s ease;
}
.slider .progress-bar .progress {
  background: #426aea;
  position: absolute;
  left: 0;
  height: 20px;
  transition: all 0.5s ease;
}
.emoji-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0.5;
  transition: all 0.4s ease-in;
  padding: 5%;
}
.emoji-form .emoji {
  display: inline-block;
}
.emoji-form .emoji img {
  max-width: 100%;
}
.emoji-form.visible {
  opacity: 1;
  cursor: pointer;
}
.emoji-effect {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.emoji-effect .emoji-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.emoji-effect .emoji {
  display: block;
  flex-shrink: 0;
  width: 70px;
  height: 70px;
}
.emoji-effect .emoji img {
  max-width: 100%;
}
.emoji-effect .emoji.active {
  animation-name: fadeOut;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: all 0.3s ease-in;
  background-size: cover;
}
.animate-in {
  -webkit-animation: fadeIn 0.7s ease-in;
  animation: fadeIn 0.7s ease-in;
}
.animate-out {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal-body {
  text-align: center;
}
.modal-body span {
  font-size: 26pt;
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-60vh);
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-60vh);
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-60vh);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-60vh);
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
