@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  font-family: 'Open Sans', sans-serif;
}
section.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
section.slide .logo {
  width: 200px;
}
section.slide .slide-overlay {
  background-color: #109f7a;
  position: absolute;
  opacity: 0.8;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
section.slide.introduction {
  background-image: url("../img/introduction.jpeg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}
section.slide.introduction h1 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5px;
  letter-spacing: 1px;
  font-size: 48px;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}
section.slide.introduction h2 {
  margin-top: 0;
  font-size: 40px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}
section.slide.introduction .slide-title {
  display: flex;
  align-items: center;
}
section.slide.introduction .slide-title .left-content {
  border-right: 5px solid #fff;
  padding-right: 50px;
}
section.slide.introduction .slide-title .right-content {
  padding-left: 50px;
  color: #fff;
}
section.slide .slide-content {
  z-index: 2;
}
