//Import fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat')
@import url('https://fonts.googleapis.com/css?family=Open+Sans')

//Variables
fontMonsterrat = 'Montserrat', sans-serif
fontOpenSans = 'Open Sans', sans-serif
colorPaloGreen = #05CC98
textShadow=  2px 2px 1px rgba(0, 0, 0, 0.5)

body
  font-family fontOpenSans
  overflow hidden


.axg-app
  display flex
  justify-content center
  align-items center
  height 100vh
  width 100vw
  .axg-view
    background colorPaloGreen
    padding 0px 20px
    height 100vh
    width 100vw
    display flex
    justify-content center
    align-items center
    h1
      font-family fontMonsterrat
      margin-bottom 5px
      letter-spacing 1px
      font-size 48px
      text-transform uppercase
      color white
    &#footer
      position fixed
      height 0px
      bottom 0
      left 0
      right 0
      .effect-container
        left 0
        position absolute
        width 100%
    &#slide-cover
      background-image url('../img/introduction.png')
      background-size cover
      color white
      .axg-group
        display flex
        .logo
          background-image url('../img/logo.png')
          background-size: 200px
          background-position center left
          font-size: 0
          width 250px
          height: 150px
          border-right 5px solid white
          padding-right 50px
          margin-right 50px
        h2
          margin-top 0
          font-size 40px
          letter-spacing 1px
          text-shadow textShadow
        p
          margin-top 0
          font-size 20px
          text-transform uppercase
    &#slide-speakers
      display flex
      justify-content center
      align-items center
      background white
      .axg-group
        max-width 1200px
        h1
          color colorPaloGreen
        .speakers-list
          label
            display none
          ul
            display flex
            padding 0
            margin 0
            li
              width 40%
              list-style none
              display block
              color colorPaloGreen
              font-size 22pt
              font-family fontMonsterrat
              &:before
                content ' '
                background-size cover
                background-position center
                border-radius 50%
                width 200px
                height 200px
                display block
                border 3px solid colorPaloGreen
                background-image url('../img/sieg.jpg')
                margin 30px 0px
              &:after
                font-family fontOpenSans
                margin-top 20px
                font-size 18pt
                display block
                color #706F67
                content 'Skilled in informatics, development and all things technology related, Siegfried is an online guru. He has delivered projects and consulted across a wide array of industries including Banking, Telecommunications, startups and many more. He believes in delivering scalable, sustainable and practical solutions using modern technology and practices.'
              &:first-child
                margin-right 10%
                &:before
                  background-image url('../img/roger.jpg')
                &:after
                  content:'With 16 years of experience in software development, Roger believes the best work-life balance is to unify everything, then the mind is able to flow and figure out the best solution for a problem. By deep-diving into basic theories of a domain and paying attention to subtleties, Roger enjoys being able to create simple and effective technical solutions.'
    &.two-column
      display flex
      justify-content center
      align-items center
      padding 0
      background white
      h1
        color colorPaloGreen
      ul
        li
          font-size 19pt
          line-height: 40pt
      &.right-image
        >div
          height 100vh
          width 50vw
          background-image url('../img/introduction.png')
          background-size cover
          font-size 0
          &:first-child
            height auto
            background white
            width 50vw
            padding 40px
            font-size inherit
      &.left-image
        >div
          height auto
          background white
          width 50vw
          padding 40px
          font-size inherit
          &:first-child
            height 100vh
            width 50vw
            background-image url('../img/introduction.png')
            background-size cover
            font-size 0
    &.just-info
       padding-top 90px
       align-items flex-start
      .header
        position absolute
        top 0
        left 0
        width 100%
        padding 0px 50px 30px 50px
        background-color colorPaloGreen
        h1
          color white
      .footer
        position absolute
        bottom 0
        left 0
        width 100%
        padding 20px 50px 30px 50px
        background-color colorPaloGreen
        text-align center
        h1
          color white
          font-size 24pt
      .column
        padding 50px
      .left-column
        width: 50%
        height 100vh
        border-right 5px solid colorPaloGreen
      .right-column
        width: 50%

    &.quote-content
      color white
      padding 150px
      font-size 24pt
      line-height 38pt
      font-style italic
      font-family: fontMonsterrat
      p
        position relative
        &:before
          content '``'
          position absolute
          top 20px
          left -120px
          font-size: 100pt
          opacity 0.9
    &.gif-content
      background-image url('../img/backflip.gif')
      background-size cover
      background-position center center
      h1
        text-shadow textShadow

.slider
  position: absolute
  left 0
  top: -100px
  width 100vw
  height 100px
  display flex
  align-items flex-end
  .progress-bar
    background #EF8035
    height 20px
    width 100%
    display block
    position relative
    .progress
      background #426AEA
      width 33%
      position: absolute;
      left 0
      height 20px

.emoji-form
  display flex
  align-items center
  justify-content center
  height 100vh
  width 100%
  opacity 0.5
  transition: all 0.4s ease-in
  padding 5%
  .emoji
    display inline-block
    img
      max-width 100%
  &.visible
    opacity 1
    cursor pointer

 @keyframes fadeOut {
    0% {opacity: 1; transform:translateY(0px)}
    100% {opacity: 0;transform:translateY(-90vh)}
 }

.emoji-effect
  position absolute
  bottom 0
  width 100%
  .emoji-row
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transform:translateY(128px)
    .emoji
      display: block;
      flex-shrink: 0; /* and here! */
      max-width 70px
      img
        max-width 100%
      &.active
        animation-name fadeOut
        animation-iteration-count 1
        animation-fill-mode: forwards
        transition: all 0.3s ease-in

.animate-in {
    -webkit-animation: fadeIn 1s ease-in;
    animation: fadeIn 1s ease-in;
}
.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
  // .logo
  //   width 200px
  // .slide-overlay
  //   background-color colorGreen3
  //   position absolute
  //   opacity 0.8
  //   height 100vh
  //   width 100vw
  //   z-index 1
  // &.introduction

  //   background-image url('../img/introduction.jpeg')
  //   background-position top right
  //   background-repeat no-repeat
  //   background-size cover
  //   .slide-title
  //     display flex
  //     align-items center
  //     .left-content
  //       border-right 5px solid white
  //       padding-right 50px
  //     .right-content
  //       padding-left 50px
  //       color white
  // .slide-content
  //     z-index: 2
